<h1><%= markdown @post.title %></h1>

<div class="row">
  <div class="span8">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by 
      <%= @post.user.name %>
    </small>  

    <p><%= markdown @post.body %></p>
    <p><%= image_tag(@post.image_url) if @post.image? %></p>
   <!--      @post.image_url is a help pointing to @post.image.url -->
  </div>
  
  <div class="span4">
    <% if can? :edit, @post %>
      <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-large btn-block' %>
    <% end %>
  </div>
  <% @comments.each do |comment| %>
    <small>
      <%= comment.body %>
    </small>
  <% end %>
  <% if can? :create, Post %>
    <%= link_to "New Comment", topic_post_comment_path(@topic,@post), class: 'btn btn-primary btn-mini' %>
  <% end %>

    <%= render partial: 'comment_form', locals: {post: @post, comment: @comment} %>
</div>